* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(157, 157, 241);
  height: 200vh;
}

.outside-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  justify-self: center;
}
input {
  width: 500px;
  height: 30px;
  border: 2px solid rgb(102, 100, 100);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.inside-box {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 20px;
  border: 5px solid black;
  width: 500px;
  height: 300px;
  background-color: aliceblue;
}

.list {
  padding: 10px;
}

.task {
  cursor: pointer;
  height: 30px;
}

.task:hover {
  color: red;
  text-decoration: line-through;
}
